@using LoveDotNet.Models
@inject IUriHelper UriHelper

<button class="btn btn-primary ml-md-auto" onclick="@_ToUser">
    <div class="d-inline-block">
        <img src="/avator/@(User.Avator??"0.png")" class="img-fluid avator-sm" />
        <span>@(User.Name ?? string.Join("", User.Email.Take(5)))</span>
    </div>
</button>


@functions{
    [Parameter] User User { get; set; }

    void _ToUser()
    {
        UriHelper.NavigateTo("/user/" + User.Id);
    }
}